/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --my-warningcolor: #FFA03A;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    width: 100% !important;
}


.main {
    width: 100%;
    overflow: hidden;
}

.logo {
    width: 50px;
}

header {
    width: 100% !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Hero Section */
.hero-section {
    margin: 50px 0;
}

.hero {
    background-color: #f8f9fa;
}

.box {
    width: 400px;
    height: 400px;
    background-color: red;
}

.hero-right {
    width: 50%;
}


.banner-img {
    width: 400px;
}

.hero-tittle {
    background-color: #ff7f50;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 13px;
    width: 200px;
}

.about-section .content {
    max-width: 500px;
    margin: auto;
    position: relative;
}

.about-section .badge {
    font-size: 14px;
    top: -34px;
    left: 4px;
}

.about-section h2 {
    font-size: 36px;
}

.about-section p {
    font-size: 16px;
}

.circle-wrapper {
    width: 100%;
    padding-top: 100%;
    /* 1:1 Aspect Ratio */
    position: relative;
    /* If you want text inside of it */
}

.circle-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}


.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    background: url('../imges/web.jpg');
    background-size: cover;
    background-position: center;
    height: 300px !important;
    position: relative;
    text-align: left;
}

.card2 {
    background: url('../imges/betech.jpg');
    background-size: cover;
    background-position: center;
}

.card3 {
    background: url('../imges/ai-img.jpg');
    background-size: cover;
    background-position: center;
}

.card4 {
    background: url('../imges/computer-science.avif');
    background-size: cover;
    background-position: center;
}

.card .badge {
    background-color: #ff7f50;
    padding: 4px 12px;
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 4px;
    font-size: 12px;
}

.card-content {
    width: 250px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}


.original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
}

.discounted-price {
    font-weight: bold;
    color: #000;
}

h2 {
    font-size: 18px;
    color: #333;
    margin: 0;
}

/* Stats Section */
.stats {
    background-color: #007bff;
}

/* Benefits Section */
.benefits img {
    width: 50px;
    height: 50px;
}

/* Tutor Section */
.tutor {
    background-color: #f8f9fa;
}

.instrctors-section .instrctors-tittle,
.testimoial-tittle,
.faq-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.instrctors-section h2 span,
.faq-tittle span {
    color: #FFA03A;
}

.instrctors-tittle {}

.custom-card {
    position: relative;
    /* overflow: hidden; */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    height: 300px;
    text-align: center;
    /* transition: transform 0.3s; */

}

.custom-card:nth-child(1) {
    background: url('../imges/teacher.jpg');
    background-size: cover;
    background-position: center;
}

.custom-card2 {
    background-image: url('../imges/teacher2.jpg') !important;
    background-size: cover;
    background-position: center;
}

.custom-card3 {
    background-image: url('../imges/teacher3.jpg') !important;
    background-size: cover;
    background-position: center;
}

.name-box {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* left: 25%; */
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    color: white;

}

.custom-card .social-icons {
    position: absolute;
    top: 30%;
    right: 0%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
    padding: 10px;
}

.custom-card:hover .social-icons {
    transform: translate(-50%, -50%) scale(1);

}

.social-icons a:hover {
    background-color: #007bff;
    color: white;
    transition: 0.5s;

}

.name-box:hover {
    background-color: white;
    color: #000;
    transition: 0.5s;
    cursor: pointer;
}

.social-icons a {
    color: #4e79e7;
    background-color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 18px;
    margin-top: 5px;

}






/* Testimonials Section */
.testimonials img {
    width: 100px;
    height: 100px;
}


.testimonials h2 span {
    color: var(--my-warningcolor);
}

.testimonials h2 span {
    display: block;

}

.stu-silder {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conact-page {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    border-radius: 8px;
}

/* Footer */
.footer {
    background-color: #007bff;
}